# Ignore everything at root
/*
!.gitignore
!Mus1_Refactor/

# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so

# Logs
**/mus1.log
**/*.log

# Projects directory
**/projects/